{% extends "/common/layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          <h1>Application for powder-analysis</h1>
          <h3>Select the tool</h3>
        </p>
        <p><h2><a href="/info">Sieving</a></h2></p>
        <p><h2><a href="/under_construction">Packing</a></h2></p>
        <p><h2><a href="/under_construction">Fluidised bed</a></h2></p>
        <p><a href="/info">About this page (infomation).</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}