{% extends "/common/layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          <h3>Contact: Shohei Matsuo</h3>
          <a href="mailto:shohei.matsuo.slbhctn87&#64;gmail.com">E-mail:shohei.matsuo.slbhctn87&#64;gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}